@import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Logo fonts */
.logo-font {
  font-family: "Tourney", sans-serif;
}

* {
  font-family: "Saira", sans-serif;
}

.btn-primary {
  @apply text-white bg-gradient-to-r from-[#3620FE] to-[#2079FE];
}

.btn-primary:hover {
  @apply from-[#2079FE] to-[#3620FE] scale-105 shadow-lg;
}

a.active {
  position: relative;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.3s ease;
}

/* Gradient underline using ::after */
a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 6px;
  background: linear-gradient(to right, #d9a298, #98c7d9);
  transition: all 0.3s ease;
}

a.active:hover::after {
  background: linear-gradient(to right, #b498d9, #c7b1c6);
}

@keyframes marquee-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-marquee-left {
  display: flex;
  width: max-content;
  animation: marquee-left 28s linear infinite;
}

.animate-marquee-right {
  display: flex;
  width: max-content;
  animation: marquee-right 25s linear infinite;
}
